/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&family=Roboto+Mono:ital,wght@0,300;0,700;1,500&display=swap");

* {
  font-family: "Roboto Mono";
}

body {
  background-color: rebeccapurple;
  color: white;
  margin: 0;
  line-height: 1.5rem;
}

.container {
  display: flex;
}

.main-container {
  flex-grow: 1;
  padding: 20px;
  font-weight: bold;
  /* overflow-y: auto; */
}

.toggle-btns {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: red;
  cursor: pointer;
  background-color: white;
  color: rebeccapurple;
}

.toggle-btns:hover {
  background-color: rgb(218, 135, 115);
}

.btn-close {
  display: none !important;
}

.side-container {
  display: none;
  flex-shrink: 0;
  width: 200px;
  height: 100%;
  box-shadow: 0 0 20px red;
  padding: 10px;
  background-color: white;
  color: rebeccapurple;
  overflow-y: auto;
  /* display: flex;
  flex-direction: column; */
  border-radius: 5px;
}
.btns {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns > button {
  width: 100px;
  background-color: rebeccapurple;
  color: white;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.side-container > h1 {
  text-align: center;
}
.side-panel-open .side-container {
  display: initial;
}

.side-panel-open .btn-close {
  display: initial !important;
}

.side-panel-open .btn-open {
  display: none !important;
}
.footer-container {
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgb(87, 201, 135);
  align-items: center;
  justify-content: center;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 540px) {
  .side-container {
    width: 100px;
  }
  .btns > button {
    width: 100%;
  }
  .footer-container {
    font-size: small;
    text-align: center;
    position: relative;
  }
}

@media only screen and (max-width: 420px) {
  .side-container {
    width: 80px;
  }
  .btns > button {
    width: 100%;
  }
}
