body {
  height: 100vh;
  background-color: var(--backgroundcolor);
  color: var(--fontcolor);
}
a {
  font-weight: bolder;
  letter-spacing: 2px;
}
.nav-container {
  /* border: 5rem white; */
  /* background-color: white; */
  border-radius: 10px;
  /* border-width: 5px;
  border-color: white; */
  border-bottom: 5px white;
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.main-container {
  margin-top: 30px;
}

.main-container > p {
  font-size: large;
  border-bottom: red 2px dotted;
  padding-bottom: 15px;
}
.footer-container {
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgb(87, 201, 135);
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
